body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}


header {
    height: 100px;
    color: black;
    align-items: center;
}

#logo {
    scale: 90%;
}

#main-menu nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
}

#main-menu nav ul li a {
    text-decoration: none;
    color: black;
}

#main-menu nav ul li a:hover {
    text-decoration: underline;
}


#dropzones {
    height: 500px;
    background-color: black;
}

#slots, #beats {
    margin-top: 30px;
}

.audio_slot {
    background-color: rgb(56, 56, 56);
    height: 100px;
}


#beats_wheel {
    background-color: rgb(56, 56, 56);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-menu {
    display: flex;
    justify-content: space-around;
}

.drop_zone {
    border: dashed gray 5px;
    margin-bottom: 20px;
}

.audio_image {
    width: 100px;
}

.lightbox {
    width: 100vw;
    height: 100vh; 

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.85);

    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;

    color: white;
    font-size: 3em;

    text-decoration: none;

    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

#lightbox:target { display: block; }

.lb_heading {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.lb_text {
    font-size: 1.3em;
    padding-left: 250px;
    line-height: 2;
}