body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}


header {
    height: 100px;
    color: black;
    align-items: center;
}

#logo {
    scale: 90%;
}

#main-menu nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
}

#main-menu nav ul li a {
    text-decoration: none;
    color: black;
}

#main-menu nav ul li a:hover {
    text-decoration: underline;
}


#dropzones {
    height: 500px;
    background-color: black;
}

#slots, #beats {
    margin-top: 30px;
}

.audio_slot {
    background-color: rgb(56, 56, 56);
    height: 100px;
}


#beats_wheel {
    background-color: rgb(56, 56, 56);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-menu {
    display: flex;
    justify-content: space-around;
}

.drop_zone {
    border: dashed gray 5px;
    margin-bottom: 20px;
}

.audio_image {
    width: 100px;
}