body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}


header {
    height: 100px;
    background-color: black;
    align-items: center;
}

#main-menu img {
    padding-top: 5px;
}

#main-menu p, #main-menu img, label  {
    cursor: pointer;
}

#main-menu p:hover, label:hover {
    text-decoration: underline;
}

input, #discription {
    display: none;
}

#main-nav input:checked ~ #discription {
    display: block;
    color: aqua;
  }

#background {
    margin-top: 50px;
}

#background_image {
    height: 500px;
    background-color: black;
}

#slots, #beats {
    margin-top: 30px;
}

.audio_slot {
    background-color: rgb(56, 56, 56);
    height: 100px;
}


#beats_wheel {
    background-color: rgb(56, 56, 56);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main-menu {
    display: flex;
    justify-content: space-around;
}